USE [master]
GO
/****** Object:  Database [SEP]    Script Date: 2023/4/7 9:15:54 ******/
CREATE DATABASE [SEP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEP', FILENAME = N'C:\Project\DBS\SQL Server\SEP\SEP_data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SEP_log', FILENAME = N'C:\Project\DBS\SQL Server\SEP\SEP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEP]
GO
/****** Object:  Table [dbo].[aircraft]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aircraft](
	[aircraft_ID] [varchar](20) NOT NULL,
	[aircraft_type] [varchar](20) NULL,
	[aircraft_T_num] [int] NULL,
	[aircraft_M_num] [int] NULL,
	[aircraft_L_num] [int] NULL,
	[aircraft_status] [nvarchar](3) NULL,
	[service_provider_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[aircraft_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_info]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_info](
	[flight_schedule] [varchar](18) NULL,
	[flight_ID] [varchar](25) NOT NULL,
	[flight_start_city] [nvarchar](10) NULL,
	[flight_end_city] [nvarchar](10) NULL,
	[flight_start_port] [nvarchar](10) NULL,
	[flight_end_port] [nvarchar](10) NULL,
	[flight_status] [nvarchar](20) NULL,
	[aircraft_type] [varchar](20) NULL,
	[direct_flag] [nvarchar](2) NULL,
	[aircraft_ID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[flight_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_info_detail]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_info_detail](
	[flight_start_time] [datetime] NULL,
	[flight_end_time] [datetime] NULL,
	[flight_ID] [varchar](25) NOT NULL,
	[flight_start_city] [nvarchar](10) NULL,
	[flight_end_city] [nvarchar](10) NULL,
	[flight_start_port] [nvarchar](10) NULL,
	[flight_end_port] [nvarchar](10) NULL,
	[flight_order] [int] NOT NULL,
	[flight_L_price] [money] NULL,
	[flight_M_price] [money] NULL,
	[flight_T_price] [money] NULL,
 CONSTRAINT [PK_flight_time] PRIMARY KEY CLUSTERED 
(
	[flight_ID] ASC,
	[flight_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_ticket]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_ticket](
	[ticket_ID] [int] IDENTITY(1,1) NOT NULL,
	[flight_ID] [varchar](25) NULL,
	[order_ID] [int] NULL,
	[flight_start_time] [datetime] NULL,
	[flight_end_time] [datetime] NULL,
	[flight_start_port] [nvarchar](10) NULL,
	[flight_end_port] [nvarchar](10) NULL,
	[ticket_status] [nvarchar](10) NULL,
	[passenger_name] [nvarchar](15) NULL,
	[seat_type] [nvarchar](10) NULL,
	[flight_price] [money] NULL,
 CONSTRAINT [PK__flight_t__D597FD639CEA58A2] PRIMARY KEY CLUSTERED 
(
	[ticket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passenger]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passenger](
	[usr_ID] [varchar](20) NULL,
	[passenger_name] [nvarchar](15) NULL,
	[passenger_ID] [char](18) NULL,
	[phone_number] [varchar](18) NULL,
	[passenger_type] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[railway_carriage_info]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[railway_carriage_info](
	[train_type] [varchar](20) NOT NULL,
	[one_railway_carriage_seat_num] [int] NULL,
	[railway_carriage_type] [varchar](20) NULL,
	[railway_carriage_ID] [int] NOT NULL,
	[each_row_num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[train_type] ASC,
	[railway_carriage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_provider]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_provider](
	[service_provider_ID] [int] IDENTITY(1,1) NOT NULL,
	[service_provider_pwd] [varchar](30) NULL,
	[service_provider_name] [nvarchar](30) NULL,
	[push_money] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_provider_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[super_usr]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[super_usr](
	[super_usr_ID] [char](5) NOT NULL,
	[super_usr_name] [nvarchar](20) NULL,
	[super_usr_pwd] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[super_usr_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[train_info]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_info](
	[train_ID] [varchar](20) NOT NULL,
	[train_type] [varchar](20) NULL,
	[train_one_num] [int] NULL,
	[train_two_num] [int] NULL,
	[train_sp_num] [int] NULL,
	[train_ssp_num] [int] NULL,
	[train_status] [nvarchar](3) NULL,
	[train_railway_carriage_num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[train_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[train_number_info]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_number_info](
	[train_number_ID] [varchar](25) NOT NULL,
	[train_ID] [varchar](20) NOT NULL,
	[train_start_city] [nvarchar](10) NULL,
	[train_end_city] [nvarchar](10) NULL,
	[train_start_station] [nvarchar](10) NULL,
	[train_end_station] [nvarchar](10) NULL,
	[train_number_status] [nvarchar](20) NULL,
	[train_start_time] [datetime] NULL,
	[train_end_time] [datetime] NULL,
 CONSTRAINT [PK__train_nu__F25C363EFE64AD60] PRIMARY KEY CLUSTERED 
(
	[train_number_ID] ASC,
	[train_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[train_number_info_detail]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_number_info_detail](
	[train_arrive_time] [datetime] NULL,
	[train_leave_time] [datetime] NULL,
	[train_number_ID] [varchar](25) NOT NULL,
	[train_arrive_city] [nvarchar](10) NULL,
	[train_arrive_station] [nvarchar](10) NULL,
	[train_order] [int] NOT NULL,
	[mileage] [float] NULL,
	[train_one_price] [money] NULL,
	[train_two_price] [money] NULL,
	[train_sp_price] [money] NULL,
	[train_ssp_price] [money] NULL,
	[dateorder] [int] NULL,
 CONSTRAINT [PK_train_number_details] PRIMARY KEY CLUSTERED 
(
	[train_number_ID] ASC,
	[train_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[train_ticket]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[train_ticket](
	[train_ticket_ID] [int] IDENTITY(1,1) NOT NULL,
	[train_number_ID] [varchar](25) NULL,
	[order_ID] [int] NULL,
	[train_ticket_start_time] [datetime] NULL,
	[train_ticket_end_time] [datetime] NULL,
	[train_start_station] [nvarchar](10) NULL,
	[train_end_station] [nvarchar](10) NULL,
	[ticket_status] [nvarchar](10) NULL,
	[passenger_name] [nvarchar](15) NULL,
	[seat_type] [nvarchar](10) NULL,
	[train_price] [money] NULL,
 CONSTRAINT [PK__train_ti__A26EF9E8588DCBF8] PRIMARY KEY CLUSTERED 
(
	[train_ticket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usr]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usr](
	[usr_account] [varchar](20) NOT NULL,
	[usr_ID] [varchar](20) NOT NULL,
	[usr_email] [varchar](255) NULL,
	[usr_avatar] [varchar](255) NULL,
	[usr_vip_level] [int] NULL,
	[usr_pwd] [varchar](30) NULL,
 CONSTRAINT [PK__usr__E9BB3E394EDABD09] PRIMARY KEY CLUSTERED 
(
	[usr_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__usr__0F570E77E3D7C3E6] UNIQUE NONCLUSTERED 
(
	[usr_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__usr__59949596364F0D45] UNIQUE NONCLUSTERED 
(
	[usr_avatar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__usr__60673605ABDACCAF] UNIQUE NONCLUSTERED 
(
	[usr_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[whole_order]    Script Date: 2023/4/7 9:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[whole_order](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[order_time] [datetime] NULL,
	[order_flag] [nvarchar](10) NULL,
	[vehicle_type] [nvarchar](10) NULL,
	[usr_ID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aircraft] ADD  DEFAULT ('可用') FOR [aircraft_status]
GO
ALTER TABLE [dbo].[flight_info_detail] ADD  CONSTRAINT [DF__flight_ti__fligh__69FBBC1F]  DEFAULT ((1)) FOR [flight_order]
GO
ALTER TABLE [dbo].[train_info] ADD  DEFAULT ('可用') FOR [train_status]
GO
ALTER TABLE [dbo].[aircraft]  WITH CHECK ADD FOREIGN KEY([service_provider_ID])
REFERENCES [dbo].[service_provider] ([service_provider_ID])
GO
ALTER TABLE [dbo].[flight_info]  WITH CHECK ADD FOREIGN KEY([aircraft_ID])
REFERENCES [dbo].[aircraft] ([aircraft_ID])
GO
ALTER TABLE [dbo].[flight_info_detail]  WITH CHECK ADD  CONSTRAINT [FK__flight_ti__fligh__6FB49575] FOREIGN KEY([flight_ID])
REFERENCES [dbo].[flight_info] ([flight_ID])
GO
ALTER TABLE [dbo].[flight_info_detail] CHECK CONSTRAINT [FK__flight_ti__fligh__6FB49575]
GO
ALTER TABLE [dbo].[flight_ticket]  WITH CHECK ADD  CONSTRAINT [FK__flight_ti__fligh__6DCC4D03] FOREIGN KEY([flight_ID])
REFERENCES [dbo].[flight_info] ([flight_ID])
GO
ALTER TABLE [dbo].[flight_ticket] CHECK CONSTRAINT [FK__flight_ti__fligh__6DCC4D03]
GO
ALTER TABLE [dbo].[flight_ticket]  WITH CHECK ADD  CONSTRAINT [FK__flight_ti__order__6EC0713C] FOREIGN KEY([order_ID])
REFERENCES [dbo].[whole_order] ([order_ID])
GO
ALTER TABLE [dbo].[flight_ticket] CHECK CONSTRAINT [FK__flight_ti__order__6EC0713C]
GO
ALTER TABLE [dbo].[passenger]  WITH CHECK ADD  CONSTRAINT [FK__passenger__usr_I__70A8B9AE] FOREIGN KEY([usr_ID])
REFERENCES [dbo].[usr] ([usr_ID])
GO
ALTER TABLE [dbo].[passenger] CHECK CONSTRAINT [FK__passenger__usr_I__70A8B9AE]
GO
ALTER TABLE [dbo].[train_number_info]  WITH CHECK ADD  CONSTRAINT [FK__train_num__train__2F10007B] FOREIGN KEY([train_ID])
REFERENCES [dbo].[train_info] ([train_ID])
GO
ALTER TABLE [dbo].[train_number_info] CHECK CONSTRAINT [FK__train_num__train__2F10007B]
GO
ALTER TABLE [dbo].[aircraft]  WITH CHECK ADD CHECK  (([aircraft_status]='可用' OR [aircraft_status]='不可用'))
GO
ALTER TABLE [dbo].[flight_info]  WITH CHECK ADD CHECK  (([direct_flag]='是' OR [direct_flag]='否'))
GO
ALTER TABLE [dbo].[passenger]  WITH CHECK ADD CHECK  (([passenger_type]='火车' OR [passenger_type]='飞机'))
GO
ALTER TABLE [dbo].[railway_carriage_info]  WITH CHECK ADD CHECK  (([railway_carriage_type]='软卧' OR [railway_carriage_type]='软座/特等座' OR [railway_carriage_type]='硬卧/二等座' OR [railway_carriage_type]='硬座/一等座'))
GO
ALTER TABLE [dbo].[railway_carriage_info]  WITH CHECK ADD CHECK  (([train_type]='新空直达' OR [train_type]='快速' OR [train_type]='新空特快' OR [train_type]='快速' OR [train_type]='新空快速' OR [train_type]='高速动车' OR [train_type]='动车组' OR [train_type]='城际高速' OR [train_type]='新空普客' OR [train_type]='普客' OR [train_type]='新空普快' OR [train_type]='普快'))
GO
ALTER TABLE [dbo].[service_provider]  WITH CHECK ADD CHECK  ((len([service_provider_pwd])>=(6) AND len([service_provider_pwd])<=(30)))
GO
ALTER TABLE [dbo].[super_usr]  WITH CHECK ADD CHECK  ((len([super_usr_pwd])>=(6) AND len([super_usr_pwd])<=(30)))
GO
ALTER TABLE [dbo].[train_info]  WITH CHECK ADD CHECK  (([train_type]='新空直达' OR [train_type]='快速' OR [train_type]='新空特快' OR [train_type]='快速' OR [train_type]='新空快速' OR [train_type]='高速动车' OR [train_type]='动车组' OR [train_type]='城际高速' OR [train_type]='新空普客' OR [train_type]='普客' OR [train_type]='新空普快' OR [train_type]='普快'))
GO
ALTER TABLE [dbo].[train_info]  WITH CHECK ADD CHECK  (([train_status]='可用' OR [train_status]='不可用'))
GO
ALTER TABLE [dbo].[train_number_info]  WITH CHECK ADD  CONSTRAINT [CK__train_num__train__2E1BDC42] CHECK  (([train_number_status]='停运' OR [train_number_status]='正常'))
GO
ALTER TABLE [dbo].[train_number_info] CHECK CONSTRAINT [CK__train_num__train__2E1BDC42]
GO
ALTER TABLE [dbo].[train_ticket]  WITH CHECK ADD  CONSTRAINT [CK__train_tic__ticke__47DBAE45] CHECK  (([ticket_status]='已使用' OR [ticket_status]='已退票' OR [ticket_status]='客票已换开' OR [ticket_status]='客票有效'))
GO
ALTER TABLE [dbo].[train_ticket] CHECK CONSTRAINT [CK__train_tic__ticke__47DBAE45]
GO
ALTER TABLE [dbo].[whole_order]  WITH CHECK ADD CHECK  (([order_flag]='是' OR [order_flag]='否'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头等舱座位数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'aircraft', @level2type=N'COLUMN',@level2name=N'aircraft_T_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商务舱座位数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'aircraft', @level2type=N'COLUMN',@level2name=N'aircraft_M_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经济舱座位数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'aircraft', @level2type=N'COLUMN',@level2name=N'aircraft_L_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'可用/不可用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'aircraft', @level2type=N'COLUMN',@level2name=N'aircraft_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'航班班期，即1..4..7' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'flight_schedule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总起点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'flight_start_city'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总终点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'flight_end_city'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总起点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'flight_start_port'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总终点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'flight_end_port'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'航班状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'flight_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否直飞' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info', @level2type=N'COLUMN',@level2name=N'direct_flag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经济舱本段价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info_detail', @level2type=N'COLUMN',@level2name=N'flight_L_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商务舱本段价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info_detail', @level2type=N'COLUMN',@level2name=N'flight_M_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头等舱本段价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_info_detail', @level2type=N'COLUMN',@level2name=N'flight_T_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总起点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_ticket', @level2type=N'COLUMN',@level2name=N'flight_start_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总终点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_ticket', @level2type=N'COLUMN',@level2name=N'flight_end_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总起点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_ticket', @level2type=N'COLUMN',@level2name=N'flight_start_port'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'总终点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'flight_ticket', @level2type=N'COLUMN',@level2name=N'flight_end_port'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'passenger', @level2type=N'COLUMN',@level2name=N'usr_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'乘客姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'passenger', @level2type=N'COLUMN',@level2name=N'passenger_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'passenger', @level2type=N'COLUMN',@level2name=N'passenger_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'passenger', @level2type=N'COLUMN',@level2name=N'phone_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'乘客类型（飞机，火车）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'passenger', @level2type=N'COLUMN',@level2name=N'passenger_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列车类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'railway_carriage_info', @level2type=N'COLUMN',@level2name=N'train_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'座位数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'railway_carriage_info', @level2type=N'COLUMN',@level2name=N'one_railway_carriage_seat_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'车厢类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'railway_carriage_info', @level2type=N'COLUMN',@level2name=N'railway_carriage_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'车厢号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'railway_carriage_info', @level2type=N'COLUMN',@level2name=N'railway_carriage_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'每排座位数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'railway_carriage_info', @level2type=N'COLUMN',@level2name=N'each_row_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'约定提成' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'service_provider', @level2type=N'COLUMN',@level2name=N'push_money'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'火车编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'火车类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'硬卧/一等座数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_one_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'硬座/二等座数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_two_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'软座/特等座数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_sp_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'软卧数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_ssp_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'车厢总数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_info', @level2type=N'COLUMN',@level2name=N'train_railway_carriage_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'始发城市' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_start_city'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'终点城市' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_end_city'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'始发站' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_start_station'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'终点站' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_end_station'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'车次状态，由服务商指定是否停开等' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_number_status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'始发时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_start_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'终点时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info', @level2type=N'COLUMN',@level2name=N'train_end_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'到达该站时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_arrive_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'离开该站时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_leave_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'车次编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_number_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'到达站点所在城市' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_arrive_city'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'到达站点名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_arrive_station'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'站序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_order'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'里程' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'mileage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'硬卧/一等座票价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_one_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'硬座/二等座票价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_two_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'软座/特等座票价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_sp_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'软卧票价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'train_ssp_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'相对日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_number_info_detail', @level2type=N'COLUMN',@level2name=N'dateorder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_ticket', @level2type=N'COLUMN',@level2name=N'train_ticket_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'订单编号  自增' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'train_ticket', @level2type=N'COLUMN',@level2name=N'order_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像网址，会存储到数据库' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'usr', @level2type=N'COLUMN',@level2name=N'usr_avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'whole_order', @level2type=N'COLUMN',@level2name=N'order_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否已支付' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'whole_order', @level2type=N'COLUMN',@level2name=N'order_flag'
GO
USE [master]
GO
